<!DOCTYPE html>
<html lang = "en">
<head>
    <%- include('../partials/head')%>




</head>
<body>
    <div class="table-container">
        <div class="table-block footer-push">


        <header>
            <%- include('../partials/header')%>
        </header>

        <main>
            



        </main>







</div>
</div>
</body>


</html>