<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head')%>

	<!-- Quote List Page -->

</head>

<body>
	<div class="table-container"> <!-- footer fixing div 1 -->
		<div class="table-block footer-push"> <!-- footer fixing div 2 -->

			<!-- Title & Navbar -->
			<header>
				<%- include('../partials/header')%>
				<script>
				var isLoggedIn = <%=isLoggedIn%>
                    console.log(isLoggedIn)
				    if (isLoggedIn == true) {
					
					} else {
						alert("Please login")
					}

				</script>
			</header>

			<!-- Page Content -->
			<main>
				<div class="container">
					<!-- Description -->

					<!-- Section Title -->
					<div class="row">
						<div class="four columns divider"></div>
						<div class="four columns section-title"> <h4>List of Quotes</h4> </div>
						<div class="four columns divider"></div>
					</div>

					<!-- Table -->
					<br>
					<table class="u-full-width">
						<thead>
							<tr>
								<th>Workers</th>
								<th>Hours</th>
								<th>Hourly Rate</th>
								<th>Pay Per Person</th>
                                <th>Total Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="quotesTable">
							<!-- This table is empty because in the linked javascript, the table
							is dynamically built so that each quote that is added to the table can
							be implemented through a looping calculation -->
							
								
							
						</tbody>
					</table>
					<form action="/edit">
                        <div class="twelve columns form-elements" style="text-align: center;">
                            <input class="button-primary" type="submit" value="Edit Quotes">
                        </div>
                    </form>

					<div class="twelve columns form-elements" style="text-align: center;">
					<button class="button-primary" onclick="DeleteTable()">Delete Table</button>
				</div>

				</div>
			</main>

			<!-- Link to javascript file -->
			<script src="../../public/js/listScript.js"></script>

		</div>
</body>


</html>