<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head')%>
</head>

<body>
	<div class="table-container"> <!-- footer fixing div 1 -->
		<div class="table-block footer-push"> <!-- footer fixing div 2 -->

			<!-- Title & Navbar -->
			<header>
				<%- include('../partials/header')%>
				<script>
				var isLoggedIn = <%=isLoggedIn%>
                    console.log(isLoggedIn)
				    if (isLoggedIn == true) {
					
					} else {
						alert("Please login")
					}

				</script>
			</header>

			<!-- Page Content -->
			<main>
				<div class="container">
					<!-- Description -->

					<!-- Section Title -->
					<div class="row">
						<div class="four columns divider"></div>
						<div class="four columns section-title"> <h4>List of Quotes</h4> </div>
						<div class="four columns divider"></div>
					</div>

					<!-- Table -->
					<br>
					<table class="u-full-width">
						<thead>
							<tr>
								<th>Workers</th>
								<th>Hours</th>
								<th>Hourly Rate</th>
								<th>Pay Per Person</th>
                                <th>Total Price</th>
							</tr>
						</thead>
						<tbody id="quotesTable">
							<!-- for each city in the database add it to the table -->
							
								
							
						</tbody>
					</table>
				</div>
			</main>

			<script src="../../public/js/listScript.js"></script>

		</div> <!-- end footer fixing div 2 -->
</body>


</html>