/* Navigation Elements */

.page-title {
    margin-top: 5px; 
    font-size: 4rem; 
    font-weight: 500;
}

.navigation {
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-top: 5px solid transparent;
}

.navitems {
    text-decoration: none;
    color: black;
}

.navigation:hover {
    color: white;
    background-color: rgb(28, 139, 0);
}

#selected-page {
    border-top: 5px solid black;
    background-color: rgb(235, 235, 235);
    color: black;
}


/* Title & Description Elements */


.divider {
    border-top: 4px solid black;
    padding-bottom: 3rem;
}

p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-size: larger;
    font-variant: small-caps;
    padding-right: 100px;
}


/* Section Title Elements */

.section-title {
    text-align: center; 
    margin-top: -1.6rem;
}

/* Forms Elements */

.form-elements {
    margin-top: 20px;
}

.form-elements-button {
    margin-top: 30px;
}

.calculation-result {
    font-size: x-large;
}

.inline-button {
    text-align: center; 
    padding-top: 1em;
}

#lastUpdate {
    font-size: smaller; 
    color: grey;
}

/* Tables Elements */

th, td {
    text-align: center;
}


/* Footer Elements */

footer {
    margin-top: 100px;
    background-color: lightgrey;
    padding-top: 45px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 0.8em;
}

/* Footer fixing Elements */

.table-container {
    display: table;
    height: 100%;
    width: 100%;
}
.table-block {
    display: table-row;
    height: 1px;
}
.footer-push {
    height: auto;
}