<div class="container" style="margin-top: 15px;">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">
        <div class="two columns"><h1 class="page-title">Quote Creator</h1></div>
        <a href="/home" class="two columns navigation navitems">Home</a>
        <a href="/login" class="two columns navigation navitems">Login</a>
        <a href="/quotes" class="two columns navigation navitems">User Quotes</a>
    </div>

</div>